/* fonts

*/

// Animations

@keyframes see_me_rollin {
    from {
		transform: rotate(0);
    }
    to {
		transform: rotate(360deg);
    }
}

.container {
	width: 100%;
	text-align: center;
	margin-top: 5vh;
	font-family: Arial;
}
.formBox {
	width: 60%;
	margin: 0 auto 6vh;
	position: relative;
	label {
		position: absolute;
		display: block;
		font-weight: normal;
		font-size: 20px;
		top: 20px;
		left: 20px;
		transition: all .3s;
		z-index: 0;
	}
	input {
		display: block;
		width: 100%;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid #000;
		height: auto;
		padding: 20px;
		font-size: 20px;
		margin-bottom: 20px;
		outline: none;
		background-color: transparent;
		position: relative;
		z-index: 10;
		&:focus {
			border-color: #000;
		}
		&:valid + label,
		&:focus + label {
			top: 0;
			// left: 0;
			font-size: 10px;
		}
	}
}

.item {
	margin-bottom: 20px;
	transition: all .3s;
	h3 {
		font-size: 18px;
		width: auto;
		overflow: hidden;
		line-height: 1.2;
		word-break: break-all;
	}

	img {
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 100%;
	}
	span {
		display: block;
	}
}
.images-list {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	.item {
		cursor: pointer;
		width: 20%;
		&:hover {
			opacity: 0.5;
		}
	}
}

.profilePage {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
	text-align: left;
	.item {
		width: 48%;
		position: relative;
	}
	span {
		margin: 20px 0;
		font-size: 14px;
	}
}